* {
    border: none;
    border-radius: 0;
    font-family: iMWritingMono Nerd Font Mono;
    font-size: 10px;
    min-height: 0;
}

window#waybar {
    background: transparent;
    color: white;
}

#workspaces {
	background-color: #24283b;
	margin: 5px;
	margin-left: 10px;
	border-radius: 5px;
}
#workspaces button {
    padding: 5px 10px;
    color: #c0caf5;
}

#workspaces button.active {
    color: #24283b;
    background-color: #7aa2f7;
    border-radius: 5px;
}

#workspaces button:hover {
	background-color: #7dcfff;
	color: #24283b;
	border-radius: 5px;
}

#memory,
#custom-power,
#battery,
#backlight,
#pulseaudio,
#network,
#clock,
#tray {
     border-radius: 4px;
     margin: 6px 3px;
     padding: 6px 12px;
     background-color: #24283b;

}

#custom-power {
  margin-right: 6px;
}

#custom-logo {
  padding-right: 0px;
  padding-left: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-left: 5px;
  font-size: 20px;
  border-radius: 10px 15px 15px 10px;
  background-color: rgba(37,40,59,0.9);
  color: #1793d1;
  box-shadow: 20 0 5px #25283b;
}

#memory {
  background-color: #25283b;
  color: #c0caf5;
}
#battery {
  background-color: #25283b;
  color: #a6e3a1;
}
@keyframes blink {
  to {
    background-color: #f38ba8;
    color: #181825;
  }
}

#battery.warning:not(.charging) {
    background-color: #f7768e;
    color: #24283b;
    border-radius: 5px 5px 5px 5px;
}
#battery.critical,
#battery.urgent {
  background-color: #ff0048;
  color: #181825;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
#battery.charging {
  background-color: #c4dbab;
  color: #24283b;
}

#backlight {
    background-color: #25283b;
    color: #db4b4b;
    border-radius: 0px 0px 0px 0px;
    margin: 5px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 0px 0px;
}

#pulseaudio {
  background-color: #25283b;
}

#network {
    color: #c0caf5;
    border-radius: 5px 0px 0px 5px;
    margin-right: 0px;
}

#clock {
    color: #c0caf5;
    border-radius: 5px 5px 5px 5px;
    margin-right: 10px;
}

#custom-power {
    color: #db4b4b;
	background-color: #25283b;
	border-radius: 5px;
	margin-right: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 0px;
	padding: 5px 10px;
}


tooltip {
border-radius: 8px;
padding: 15px;
background-color: #131822;
}

tooltip label {
padding: 5px;
background-color: #131822;
}
